useDynLib(satdad)
importFrom("Rcpp", "evalCpp")
importFrom("igraph", "graph")
importFrom("igraph", "layout.fruchterman.reingold")
importFrom("igraph", "plot.igraph")
importFrom("maps", "map")
importFrom("partitions", "setparts")
importFrom("graphics", "boxplot", "dotchart", "lines", "mtext", "points", "text", "title")
importFrom("stats", "median", "rexp", "rgamma", "runif")
importFrom("utils", "combn")
import("graphicalExtremes")
exportPattern("^[[:alpha:]]+")
